In [1]:
import pandas as pd
import numpy as np

In [2]:
book = pd.read_csv("Bookrating.csv",encoding='ISO-8859-1')

In [3]:
book

,Unnamed: 0,USERID,BookTitle,BookRating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [11]:
book = book.drop('Unnamed: 0',axis=1)

In [12]:
book

      USERID                                          BookTitle  BookRating
1     276729                                       Clara Callan           3
2     276729                               Decision in Normandy           6
3     276736  Flu: The Story of the Great Influenza Pandemic...           8
4     276737                             The Mummies of Urumchi           6
5     276744                             The Kitchen God's Wife           7
...      ...                                                ...         ...
9995  162121       American Fried: Adventures of a Happy Eater.           7
9996  162121                              Cannibal In Manhattan           9
9997  162121                    How to Flirt: A Practical Guide           7
9998  162121                                           Twilight           8
9999  162129                       Kids Say the Darndest Things           6

[9999 rows x 3 columns]

In [13]:
book.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9999 entries, 1 to 9999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   USERID      9999 non-null   int64
 1   BookTitle   9999 non-null   object
 2   BookRating  9999 non-null   int64
dtypes: int64(2), object(1)
memory usage: 632.5+ KB

In [14]:
#number of unique users in the dataset
len(book.USERID.unique())

2181

In [15]:
#number of unique books
len(book.BookTitle.unique())

9658

In [16]:
#duplicates check
book[book.duplicated()].shape

(2, 3)

In [17]:
ID =book.USERID.unique()

In [18]:
data = book.drop_duplicates("BookTitle")

In [19]:
data

      USERID                                          BookTitle  BookRating
1     276729                                       Clara Callan           3
2     276729                               Decision in Normandy           6
3     276736  Flu: The Story of the Great Influenza Pandemic...           8
4     276737                             The Mummies of Urumchi           6
5     276744                             The Kitchen God's Wife           7
...      ...                                                ...         ...
9995  162121       American Fried: Adventures of a Happy Eater.           7
9996  162121                              Cannibal In Manhattan           9
9997  162121                    How to Flirt: A Practical Guide           7
9998  162121                                           Twilight           8
9999  162129                       Kids Say the Darndest Things           6

[9658 rows x 3 columns]

In [20]:
data.groupby('BookTitle')['BookRating'].count().sort_values(ascending=False).head()

BookTitle
Ã?Â?bermorgen.                                  1
Hexenjagd. Ein Drama in 2 Akten.                1
Herzlichst Ihre Rosa: AusgewÃ¤hlte Briefe       1
Herstory: A Woman's View of American History    1
Herr Lehmann. Ein Roman.                        1
Name: BookRating, dtype: int64

In [21]:
#so each book has only one rating

In [37]:
recommended =  data.sort_values('BookRating')
recommended

      USERID                                          BookTitle  BookRating
4540    1903                                          Mrs. Mike           1
7743    3923  The Milk Mustache Book: A Behind-The-Scenes Lo...           1
7690    3874                                    Aldo Applesauce           1
7525    3768                                   Great Human Race           1
6903    3656                      The Power of a Praying Parent           1
...      ...                                                ...         ...
7893    4017  Guts: The True Stories Behind Hatchet and the ...          10
1684  278194  What to Expect When You're Expecting (Revised ...          10
7897    4017                                My Secret Valentine          10
7860    4017                             The Senator's Daughter          10
4991    2110                              Mount Dragon: A Novel          10

[9658 rows x 3 columns]

In [45]:
recommended.tail(10)

      USERID                                          BookTitle  BookRating
7876    4017               Let's Go 2003: Britain &amp; Ireland          10
7877    4017                                           Imagined          10
7881    4017  Renegade (Avenging Angels) (Harlequin Intrigue...          10
7882    4017                                   Lady of Conquest          10
7884    4017                                   Message from Nam          10
7893    4017  Guts: The True Stories Behind Hatchet and the ...          10
1684  278194  What to Expect When You're Expecting (Revised ...          10
7897    4017                                My Secret Valentine          10
7860    4017                             The Senator's Daughter          10
4991    2110                              Mount Dragon: A Novel          10

In [ ]:
#these are the top 10 rated book recommended based on ratings